body {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
}
.container {
  padding-left: var(--container-padding);
  padding-right: var(--container-padding);
  max-width: var(--maxwidth);
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.grid {
  display: grid;
  grid-template-columns: var(--grid-main);
  grid-auto-rows: min-content;
  grid-gap: 0 var(--grid-gap);
}
