html {
  /* Variables tipográficas */
  --text-2xs: 10px;
  --text-xs: 12px;
  --text-s: 14px;
  --text-base: 16px;
  --text-m: var(--text-base);
  --text-l: 18px;
  --text-xl: 20px;
  --text-2xl: 24px;
  --text-3xl: 30px;
  --text-4xl: 36px;
  --text-5xl: 48px;
  --text-6xl: 64px;
}