<div class="ficha">
  <div class="ficha-img">
    <img src="{{datosFicha.imagen}}" alt="">
  </div>
  <div class="ficha-contenido">
    <p>Nombre:  {{datosFicha.nombre}}</p>
    <p>Apellido: {{datosFicha.apellido}}</p>
  </div>
</div>

