  <div class="footer">
    <div class="container grid">
      <div class="col-12">
        Footer de la página
      </div>
    </div>
  </div>

  <!--<script src="/assets/scripts/archivo.js"></script>-->
  </body>
</html>