<div class="header">

  {% set navPages = collections.all | eleventyNavigation %}
  <div class="nav">
    {%- for elemento in navPages %}
      <a href="{{ elemento.url | url }}"
        {% if elemento.url == page.url %} class="active"{% endif %}
      >
        {{ elemento.title }}
      </a>
    {%- endfor %}
  </div>

</div>