{% set navPages = collections.all | eleventyNavigation %}
<div class="nav">
  {%- for elemento in navPages %}
    <a href="{{ elemento.url | url }}"
      {% if elemento.url == page.url %} class="activo"{% endif %}
    >
      {{ elemento.title }}
    </a>
  {%- endfor %}
</div>