---
layout: layouts/base.njk
title: Contacto
eleventyNavigation:
  key: contacto
  title: Contacto
  order: 2
---

<div class="col-12">
  <h1>Contacto</h1>
  <p>
    La página de contacto.
  </p>
</div>