---
layout: layouts/base.njk
title: Inicio
eleventyNavigation:
  key: index
  title: Home
---
<div class="col-12">
  <h1>Página de inicio</h1>
  <p>
    La página de inicio del proyecto.
  </p>
</div>