---
layout: layouts/home.njk
title: "Mi hermoso portafolio"
eleventyNavigation:
  key: index
  title: Home
---

<div class="inicio">
  <h1>Bienvenido a: {{siteData.name}}</h1>
  <p>
    Esto es {{siteData.dominio}}, creado por {{siteData.autor}}
  </p>
</div>
