.ficha {
  width: 300px;
  background: white;
  border: 1px solid;
  color: black;
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.ficha p {
  margin: 0;
}

.ficha-img {
  margin-right: 10px;
}
